* {
    cursor: url(../docs/astronaut_icon.svg), default;
    cursor: url(../docs/astronaut_icon.svg), pointer !important;
}

#body {
    background: var(--intro-color);
    animation: .2s linear changeColor 2.8s forwards;
}

.bullet {
    position: fixed;
    z-index: 1050;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gold;
    animation: fireBullet var(--bullet-timing) ease-out forwards, hide 1s 3s forwards;
}

.theme-celestial {
    position: fixed;
    z-index: 700;
    right: 10vw;
    top: 20vh;
    border-radius: 3rem;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    transition: transform .2s ease-in-out;
}

.theme-celestial div {
    visibility: hidden;
    background-image: var(--theme-image);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0 0 1rem var(--celestial-shadow));
    height: clamp(2.5rem, 6vw, 4rem);
    width: clamp(2.5rem, 6vw, 4rem);
    transition: filter .2s;
    animation: slide 1.5s 6s ease-in forwards;
}

.theme-celestial div:hover {
    filter: brightness(75%)
}

.theme-celestial:focus {
    outline: none;
    transform: scale(1.1);
}

.center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-container {
    --end-h: 0;
    z-index: 900;
    width: 100vw;
    height: 100vh;
    position: fixed;
    animation: .35s fade linear 3s forwards;
}

#intro-logo {
    height: 15vh;
    animation: .6s fade linear 2.7s forwards;
}

#intro-logo path[class^="st"] {
    fill: none;
    stroke: var(--tertiary-color);
    stroke-width: 15;
    stroke-miterlimit: 10;
    --dasharray: 1594;
    stroke-dasharray: var(--dasharray);
    animation: 1s fillSvg linear forwards;
}

#intro-logo path[class="st2"] {
    --dasharray: 1394;
    opacity: 0;
    stroke: var(--secondary-color);
    animation: 1.5s fillSvg linear 1s forwards;
}

header {
    --start-y: -100px;
    position: fixed !important;
    background: var(--primary-color) !important;
    box-shadow: inset 0 15px 30px -25px var(--intro-color);
    width: 100vw;
    z-index: 800;
    visibility: hidden;
    animation: .5s slide 3s ease-in-out forwards;
}

#shrink-toggle {
    display: none;
}

#header-logo {
    transition: transform .1s linear;
}

#header-logo:hover {
    transform: scale(1.1);
}

header a {
    color: var(--tertiary-color) !important;
    font-family: monospace;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    transition: all .2s;
}

header a:hover {
    color: var(--secondary-color) !important;
}

header>a:focus {
    outline: none;
    transform: scale(1.1);
    filter: var(--focus-filter);
}

.roll-header {
    visibility: visible;
    animation: shrinkHeader 1s linear forwards;
}

.roll-header>* {
    display: none !important;
}

.roll-header #shrink-toggle {
    margin: 0;
    border: none;
    background: transparent;
    display: block !important;
    animation: rollHeader .25s linear 4, rubberBand 1.5s 1.5s;
}

.roll-header #shrink-toggle:focus {
    outline: none;
}

.expand-header {
    height: 100px;
    animation: shrinkHeader 1s linear reverse;
}

.expand-header #shrink-toggle {
    display: none !important;
}

.expand-header #expand-toggle {
    animation: rollHeader .25s linear 4 reverse;
}

.header-toggler {
    height: 100vh;
}

.expand-view {
    visibility: visible;
    animation: .5s pulseScreen 1.5s alternate 2;
}

.shrink-view {
    animation: .5s expandView linear reverse backwards;
}

main {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    animation: .5s slide ease-in 4.5s forwards;
}

.star {
    position: fixed;
    top: var(--star-top);
    left: var(--star-left);
    margin: var(--star-width) auto;
    width: var(--star-width);
    font-size: 12em;
    z-index: 1000;
    animation: var(--star-speed) movingStars linear infinite;
}

.star:before,
.star:after {
    content: "";
    position: absolute;
    background: var(--star-color);
    width: var(--star-width);
    height: calc(1.15 * var(--star-width));
}

.star:before {
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.star:after {
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

section {
    scroll-snap-align: start;
    min-height: 100%;
    width: 100vw;
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-section>* {
    width: -moz-fit-content !important;
    width: fit-content !important;
}

.show-text {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    left: clamp(2rem, calc(25vw - 75px), 300px);
    max-width: min(700px, calc(100vw - 2rem - clamp(2rem, calc(25vw - 75px), 300px)));
}

.show-text::before {
    --end-w: 0;
    content: "";
    position: absolute;
    right: -15%;
    width: 130%;
    height: 100%;
    background: var(--font-cover-color);
    transform: skewX(-25deg);
    animation: .75s fade calc(5s + var(--nth-child) * .25s) ease-in-out forwards;
}

.inline-block {
    display: inline-block;
}

.ring-letter {
    display: inline-block;
    text-align: center;
    margin: 0;
    transition: color .2s linear;
}

.heading {
    --font-hover-color: var(--primary-color);
    text-shadow: 1px 1px var(--main-heading-color-1), 2px 2px var(--main-heading-color-2), -1px -1px var(--main-heading-color-1), -2px -2px var(--main-heading-color-2);
    font-size: clamp(2.5rem, 5vw, 5rem);
    font-family: "Formula Serial Bold";
    color: var(--primary-color);
    font-weight: bold;
}

.text-note {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main-textnote-color);
    font-size: max(1rem, 2vw);
    font-style: italic;
}

.paragraph {
    color: var(--main-paragraph-color);
    font-size: clamp(1.3rem, 2vw, 2rem);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ring-letter:hover {
    --font-selection-color: var(--main-heading-color-1);
    color: var(--font-hover-color);
    animation: rubberBand 1s;
}

.water-wave {
    --start-y: 10vh;
    position: relative;
    background: transparent;
    margin: 0 auto;
    right: 20px;
    visibility: hidden;
    animation: slide .5s 6s ease-in-out forwards;
}

.water-wave>* {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50px;
    text-align: center;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 2em;
    width: 150px;
    padding: 0;
    margin: 0;
}

.water-wave>*:nth-child(1) {
    background: var(--main-paragraph-color);
    box-shadow: inset 0 -2px;
}

.water-wave>*:nth-child(2) {
    animation: 4s waterWave ease-in-out infinite;
    background: var(--secondary-color);
}

.water-wave>*:nth-child(3) {
    background: transparent;
    color: transparent;
    transition: transform .2s;
}

.water-wave>*:nth-child(3):focus {
    transform: scale(1.1, 1.3) !important;
    outline: solid var(--tertiary-color) 2px;
}

.flex-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20vh 0;

}

.flex-section>* {
    min-height: 50vh;
    min-width: 300px;
    margin: 2rem auto 0;
}

.about-me {
    border: white solid;
    
}

.bubble {
    aspect-ratio: 1/.75;
    background: var(--intro-color);
    border-radius: 47% 53% 47% 53% / 53% 47% 53% 47%;
    padding: 2rem;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: bold;
    animation: bubble 10s infinite linear;
}

.container-3d {
    --diameter: clamp(300px, 35vw, 700px);
    transform-style: preserve-3d;
    perspective: calc(var(--diameter) * 5);
    height: var(--diameter);
    width: var(--diameter);
}

.sphere {
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    will-change: transform;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    animation: rotate 20s infinite linear;
}

.hemisphere {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform: rotateX(90deg);
}

.hemisphere:nth-child(2) {
    transform: rotateX(-90deg);
}

.skill {
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    left: 50%;
    top: 50%;
    transform: translateZ(calc(var(--nth-child) / (2 * var(--child-num)) * var(--diameter))) rotateZ(calc(15deg + var(--nth-child) * (360deg / var(--child-num)))) translateX(calc((var(--child-num) - var(--nth-child)) / (2 * var(--child-num)) * var(--diameter))) rotateX(calc((var(--nth-parent) * 2 - 1) * 90deg)) rotateY(90deg);
    color: var(--main-paragraph-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1.3rem, 2vw, 2rem);
    filter: drop-shadow(0 0 .5rem var(--secondary-color));
    text-align: center;
    padding: 0 1rem;
    border-radius: 50px;
    background: rgba(var(--intro-color-rgb), .25);
}

#footer {
    --start-x: 100vw;
    position: fixed;
    z-index: 750;
    left: 2rem;
    bottom: 2rem;
    visibility: hidden;
    animation: .8s slide 3.5s ease-out forwards;
}

#footer .nav-link {
    transition: transform 200ms ease-out;
}

#footer .nav-link:hover {
    filter: var(--focus-filter);
    transform: translateY(-3px);
}

.copy-contact-info {
    position: relative;
    left: -5px;
    border-radius: 50px;
    margin-bottom: 10px;
    height: 35px;
    width: 35px;
    transition: width .5s ease-in-out;
    overflow: hidden;
}

.copy-contact-info:hover {
    box-shadow: 0 0 10px var(--secondary-color);
    width: 290px;
}

.cci2:hover {
    width: 175px;
}

.copy-contact-info:hover .contact-logo {
    display: none;
    opacity: 1;
}

.copy-contact-info:hover .contact-info,
.copy-contact-info:hover .copy-button {
    display: block;
    visibility: visible;
    opacity: 1;
}

.copy-contact-info>*,
.contact-logo * {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0 auto;
}

.contact-logo {
    left: 5px;
}

.contact-info {
    right: 40px;
    color: var(--tertiary-color);
    text-align: center;
    margin-top: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in .4s;
}

.copy-button {
    background: transparent;
    border: none;
    right: 10px;
    display: none;
}

.copy-button img,
.contact-logo img {
    margin: auto;
}

#footer *:focus {
    outline: none;
    filter: var(--focus-filter);
}


/* ================================================================================================================== */
:root {
    --intro-color: #060c16;
    --intro-color-rgb: 6, 12, 22;
    --primary-color: #11223E;
    --secondary-color: #17a2b8;
    --tertiary-color: #f1f1f1;

    --main-heading-color-1: #0ff;
    --main-heading-color-2: #ffc0cb;
    --main-paragraph-color: #f1f1c1;
    --main-textnote-color: #f1f1f1aa;

    --font-selection-color: #f1f1f1;
    --font-hover-color: #00ffff;
    --font-cover-color: #c69489;

    --focus-filter: brightness(50%) sepia(1) hue-rotate(150deg) saturate(157%) brightness(112%);
    --celestial-shadow: var(--tertiary-color);
    --theme-image: url(../docs/moon.png);
    --star-color: yellow;


    --start-y: 0;
    --start-x: 0;
    --end-y: 0;
    --end-x: 0;

    --end-h: 100%;
    --end-w: 100%;

    --scroll-boxshadow: none;
    --scroll-border: none;
    --scroll-width: none;

    overflow: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-track:hover {
    background: rgba(var(--intro-color-rgb), 0.5);
}

::-webkit-scrollbar-thumb {
    border: var(--scroll-border);
    box-shadow: var(--scroll-boxshadow);
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

* {
    scrollbar-color: var(--secondary-color) rgba(var(--intro-color-rgb), 0.5);
    ;
    scrollbar-width: var(--scroll-width);
}

*::selection {
    background: var(--main-heading-color-2);
    color: var(--font-selection-color);
    text-shadow: .01em .01em;
}


/* ================================================================================================================== */
@media (max-width: 767px) {
    .flex-section {
        padding-bottom: 20vh;
    }

    #footer {
        left: 0;
        right: 0;
        width: -moz-fit-content;
        width: fit-content;
        max-width: 350px;
        margin: auto;
        bottom: 1rem;
    }

    #footer nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #footer nav ul li {
        margin: auto;
    }
}

@font-face {
    font-family: "Formula Serial Bold";
    src: url("./formula-serial-bold.ttf");
}

@keyframes fillSvg {
    from {
        opacity: 1;
        stroke-width: 15;
        stroke-dashoffset: var(--dasharray);
    }

    30% {
        stroke-width: 40;
    }

    50% {
        stroke-width: 40;
    }

    to {
        opacity: 1;
        stroke-width: 15;
        stroke-dashoffset: 0;
    }
}

@keyframes fade {
    to {
        height: var(--end-h);
        width: var(--end-w);
    }
}

@keyframes changeColor {
    to {
        background: var(--primary-color);
    }
}

@keyframes slide {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate(var(--start-x), var(--start-y));
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: translate(var(--end-x), var(--end-y));
    }
}

@keyframes rollHeader {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes shrinkHeader {
    1% {
        border-radius: 50px;
        box-shadow: 10px 10px 20px -10px var(--secondary-color), -10px -10px 20px -10px var(--secondary-color);
    }

    90% {
        transform: scale(1)
    }

    to {
        border-radius: 50px;
        box-shadow: 10px 10px 20px -10px var(--secondary-color), -10px -10px 20px -10px var(--secondary-color);
        width: 100px;
        transform: scale(.5);
        overflow: hidden;
    }
}

@keyframes expandView {
    to {
        height: 100vh;
    }
}

@keyframes pulseScreen {
    to {
        box-shadow: inset 15px 15px 15px -15px var(--secondary-color), inset -15px -15px 15px -15px var(--secondary-color);
    }
}

@keyframes waterWave {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

@keyframes movingStars {
    25% {
        transform: translate(calc(var(--star-x) * 100vw), calc(var(--star-y) * 100vh));
    }

    75% {
        transform: translate(calc(-1 * var(--star-x) * 100vw), calc(-1 * var(--star-y) * 100vh));
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes rotate {
    to {
        transform: rotateY(360deg);
    }
}

@keyframes bubble {
    25% {
        border-radius: 65% 35% 69% 31% / 68% 41% 59% 32%;
    }

    50% {
        border-radius: 48% 52% 49% 51% / 68% 66% 34% 32%;
    }

    75% {
        border-radius: 31% 69% 33% 67% / 32% 70% 30% 68%;
    }
}

@keyframes fireBullet {
    to {
        transform: translate(var(--h-distance), var(--v-distance));
    }
}

@keyframes hide {
    to {
        opacity: 0;
    }
}